tqdm
tqdm_joblib
scikit-video
python-pptx
Pillow
lxml
stable-retro
joblib
pandas
plotly
flask
gunicorn
jupyter
scipy
seaborn
invoke
umap-learn
scikit-learn
opencv-python
git+https://github.com/courtois-neuromod/videogames.utils.git